# ========================================================
# Docker images
# ========================================================
POSTGRES_IMAGE=postgres:17-alpine
REDIS_IMAGE=redis:7.2-alpine
MINIO_IMAGE=minio/minio:RELEASE.2025-09-07T16-13-09Z
CLICKHOUSE_IMAGE=clickhouse/clickhouse-server:25.8-alpine

# ========================================================
# Container and network names
# ========================================================
POSTGRES_CONTAINER_NAME=wdl-postgres
REDIS_CONTAINER_NAME=wdl-redis
MINIO_CONTAINER_NAME=wdl-minio
CLICKHOUSE_CONTAINER_NAME=wdl-clickhouse
VENDOR_NETWORK_NAME=vendor-network

# ========================================================
# PostgreSQL
# ========================================================
POSTGRES_HOST=127.0.0.1
POSTGRES_EXPOSE_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=postgres
POSTGRES_VOLUME_NAME=wdl-postgres17-data

# ========================================================
# Redis
# ========================================================
REDIS_HOST=127.0.0.1
REDIS_EXPOSE_PORT=6379
REDIS_VOLUME_NAME=wdl-redis-data

# ========================================================
# MinIO
# ========================================================
MINIO_HOST=127.0.0.1
MINIO_API_EXPOSE_PORT=9000
MINIO_CONSOLE_EXPOSE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_VOLUME_NAME=wdl-minio-data

# ========================================================
# ClickHouse
# ========================================================
CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_HTTP_EXPOSE_PORT=8123
CLICKHOUSE_NATIVE_EXPOSE_PORT=9002
CLICKHOUSE_DB=auditlog
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=admin
CLICKHOUSE_VOLUME_NAME=wdl-clickhouse-data

# ========================================================
# Runtime
# ========================================================
RESTART_POLICY=unless-stopped
HEALTHCHECK_INTERVAL=5s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=10
